@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Fredericka+the+Great&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


body {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    font-family: "Calistoga", "Times New Roman", serif;
    color: #EE964B;
    background-color:#0280d4;
    background-image: url("./oceans-illustration.jpg");
    background-size: cover;
    text-align: center;
}

#container {
    max-width: 1440px;
    max-height: 900px;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

#mobile-message {
    display: none;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    max-width: 1920px;
    min-width: max-content;
}

.buttons {
    height: clamp(6rem, 20vw, 17rem);
}

a {
    color: #F4D35E;
}
    
img.choices {
    height: clamp(4.5rem, 15vw, 10rem);
    width: auto;
    border: 6px solid #F4D35E;
    border-radius: 50%;
    transition: all 0.5s ease;
}

img.selected {
    height: clamp(5.5rem, 20vw, 15rem);
    width: auto;
}

img#computerImage {
    height: clamp(8rem, 20vw, 15rem);
    width: auto;
    border: 6px solid #EE964B;
    border-radius: 50%; 
}

#playerSelection, #computerSelection {
    display: inline-block;
}
#playerSelection span, #computerSelection span {
    font-family: "Fredericka the Great", "Times New Roman", serif;
}

h1, h2, h3 {
    color: white;
}

h2, h3 {
    font-size: clamp(1.3rem, 4vw, 3rem);
}

h1 {
    font-family: "Fredericka the Great", "Times New Roman", serif;
    font-size: clamp(1.8rem, 5vw, 3.8rem);
    color: #EE964B;
}

span.gameTitle {
    color: white;
    font-size: clamp(2rem, 7vw, 4.5rem);
}

#board {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

@media screen and (min-width: 850px) {
    #board {
        min-width: 600px;
    } 
}

#scoreboard {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
}

#scores {
    white-space: pre;
}

footer {
    width: 100%;
    background-color: #0298d44f;
    margin-top: auto;
}

/* For mid-with and mobile */
@media screen and (max-width: 850px) {
    /* Took a lot of fussing and I'm not sure whether it was the 
    overflow: hidden on the two parents, or the 100vh and 100vw 
    on the direct parent of the container that made the snapping
     work, but at last!*/
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #container {
        height: 100%;
        width: 100%;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    header {
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        flex: none;
        padding-top: 40%;
    }

    #mobile-message {
        display: block;
        margin-top: 4rem;
    }

    main {
        width: 100vw;
        height: 100vh;
        gap: 0.5rem;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 15vh 0 0 0;
        scroll-snap-align: start;
        flex: none;
    }

    img.choices,
    img.selected,
    img#computerImage {
        border-width: 4px;
    }

    #board {
        width: 100%;
    }

    #scoreboard {
        width: 100%;
        height: auto;
        padding: 2vh 0 2vh 0;
    }

    footer {
        width: 100vw;
        background-color: #0298d44f;
        margin: 0;
        scroll-snap-align: start;
        flex: none;
    }

}