@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Fredericka+the+Great&display=swap');

* {
       /* border: 2px solid mediumseagreen; */
        padding: 0;
        margin: 0;
}


body {
    font-family: "Calistoga", "Times New Roman", serif;
    color: #EE964B;
    background-color:#0299D4;
}

a {
    color: #F4D35E;
}
    
img.choices {
    height: 10rem;
    width:10rem;
    border: 8px solid #F4D35E;
    border-radius: 50%;
    transition: all 0.5s ease;
}

img.selected {
    height: 15rem;
    width: 15rem;
}

img#computerImage {
    height: 15rem;
    width:15rem;
    border: 8px solid #EE964B;
    border-radius: 50%; 
}

#playerSelection, #computerSelection {
    display: inline-block;
}
#playerSelection span, #computerSelection span {
    font-family: "Fredericka the Great", "Times New Roman", serif;
}

h1, h2, h3 {
    color: black;
}

h2, h3 {
    font-size: 3rem;
}

h1 {
    font-family: "Fredericka the Great", "Times New Roman", serif;
    font-size: 3.8rem;
    color: #EE964B;
}

span.gameTitle {
    color: black;
    font-size: 4.5rem;
}


body {
    background-image: url("sea_background/PNG/foreground.png"),
                    url("sea_background/PNG/mid_background.png"),
                    url("sea_background/PNG/farground.png"),
                    url("sea_background/PNG/sea_background.png");
    background-position: top left, 0px 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px 200px 100px 200px 100px;

}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

#results {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#scores {
    white-space: pre;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}