@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Fredericka+the+Great&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


body {
    height: 100%;
    width: 100%;
    font-family: "Calistoga", "Times New Roman", serif;
    color: #EE964B;
    background-color:#0280d4;
    background-image: url("./oceans-illustration.jpg");
    background-size: cover;
    text-align: center;
}

#container {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

#mobile-message {
    display: none;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1920px;
}

.buttons {
    height: 17rem;
}

a {
    color: #F4D35E;
}
    
img.choices {
    height: 10rem;
    width:10rem;
    border: 8px solid #F4D35E;
    border-radius: 50%;
    transition: all 0.5s ease;
}

img.selected {
    height: 15rem;
    width: 15rem;
}

img#computerImage {
    height: 15rem;
    width:15rem;
    border: 8px solid #EE964B;
    border-radius: 50%; 
}

#playerSelection, #computerSelection {
    display: inline-block;
}
#playerSelection span, #computerSelection span {
    font-family: "Fredericka the Great", "Times New Roman", serif;
}

h1, h2, h3 {
    color: white;
}

h2, h3 {
    font-size: 3rem;
}

h1 {
    font-family: "Fredericka the Great", "Times New Roman", serif;
    font-size: 3.8rem;
    color: #EE964B;
}

span.gameTitle {
    color: white;
    font-size: 4.5rem;
}

#board {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#scoreboard {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
}

#scores {
    white-space: pre;
}

footer {
    width: 100%;
    background-color: #0298d44f;
    margin-top: auto;
}

/* For mobile */
@media screen and (max-width: 600px) {
    /* Took a lot of fussing and I'm not sure whether it was the overflow: hidden
    on the two parents, or the 100vh and 100vw on the direct parent of the container
    that made the snapping work, but at last!*/
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    body {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #container {
        height: 100%;
        width: 100%;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    header {
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        flex: none;
        padding-top: 40%;
    }

    #mobile-message {
        display: block;
        margin-top: 4rem;
    }

    main {
        width: 100%;
        height: 100%;
        gap: 0.5rem;
        flex-flow: column wrap;
        padding: 1rem 0 0 0;
        scroll-snap-align: start;
        flex: none;
    }

    span.gameTitle {
        font-size: 2rem;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    h2, h3 {
        font-size: 1.3rem;
    }

    img.choices {
        height: 4.5rem;
        width: auto;
    }

    img.selected {
        height: 5.5rem;
        width: auto;
    }

    img#computerImage {
        height: 8rem;
        width:auto;
    }

    img.choices,
    img.selected,
    img#computerImage {
        border-width: 4px;
    }

    .buttons {
        height: 6rem;
    }

    #board {
        width: 100%;
        height: 50%
    }

    #scoreboard {
        width: 100%;
        height: 40%;
        padding-top: 3rem;
    }

    footer {
        width: 100vw;
        background-color: #0298d44f;
        margin: 0;
        scroll-snap-align: start;
        flex: none;
    }

}